.hero-section {
  min-height: 35vh;
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: hsl(203, 100%, 11%);
  /* background-color: hsl(203, 100%, 89%); */
}

.hero-gradient {
  background: linear-gradient(-65deg, #52b5ee, #3c4de7, #52b5ee);
  background-size: 200% 200%;
  /* animation: animatedGradient 5s ease infinite; */
}

/* @keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.hero-copy-container {
  /* padding-left: 4rem; */
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-name {
  margin-bottom: 1rem;
  padding: 0.5rem 3rem 0.5rem 2rem;
  background: linear-gradient(90deg, #5001fe, transparent);
  color: hsl(60, 100%, 70%);
  font-size: 4rem;
  font-family: "Julius Sans One", sans-serif;
  letter-spacing: 0.2rem;
  line-height: normal;
  text-shadow: 2px 2px 2px rgb(0, 255, 255);
}

.hero-name-first-name {
  /* color: hsla(0, 0%, 100%, 0.95); */
}

.hero-name-first-name-first-letter {
  font-size: 5rem;
}

.hero-name-last-name {
  /* color: hsla(0, 0%, 100%, 0.95); */
}

.hero-name-last-name-first-letter {
  font-size: 5rem;
}

.hero-role {
  font-size: 1.6rem;
  color: #5001fe;
  text-transform: uppercase;
  padding-left: 3rem;
}

.hero-underline {
  height: 4px;
  background: linear-gradient(90deg, #5001fe, transparent);
  margin-left: 3rem;
}

.hero-underline-two {
  height: 4px;
  background: linear-gradient(90deg, #ffff66, transparent);
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.hero-subtitle {
  padding-left: 3.5rem;
  font-size: 1.4rem;
  color: hsl(0, 0%, 90%);
  text-shadow: 2px 2px 3px #4002de;
}

.hero-image-container {
  padding-left: 2rem;
  display: grid;
  /* place-items: center; */
  align-items: end;
  max-width: 100%;
  background-color: hsl(257, 98%, 45%);
  background: linear-gradient(180deg, hsl(257, 98%, 45%), hsl(257, 98%, 20%));
  /* border-left: 4px solid hsl(257, 98%, 35%); */
}

.hero-image {
  display: block;
  /* width: 100%; */
  height: auto;
  max-height: 400px;
  /* border-radius: 30%; */
}

@media screen and (max-width: 600px) {
  .hero-section {
    grid-template-columns: 1fr;
  }

  .hero-copy-container {
    padding: 3rem 1rem 3rem 0;
  }

  .hero-image-container {
    padding: 0;
    justify-items: end;
  }
}
