main {
  max-width: 1280px;
  margin: 0 auto;
  border-left: 1px solid hsl(200, 100%, 50%);
  border-right: 1px solid hsl(200, 100%, 50%);
}

@media screen and (max-width: 600px) {
  main {
    /* placeholder */
  }
}
