.contact-section {
  padding: 2rem 4rem 4rem 4rem;
  background-color: hsl(203, 100%, 20%);
  /* background-color: hsl(203, 100%, 80%); */
}

.contact-title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.contact-subcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form {
  display: grid;
  grid-template-areas:
    "contact-form-name contact-form-email"
    "contact-form-message contact-form-message"
    "contact-form-submit contact-form-submit";
  row-gap: 1rem;
  column-gap: 1rem;
}

.contact-form-name {
  grid-area: contact-form-name;
}

.contact-form-email {
  grid-area: contact-form-email;
}

.contact-form-message {
  grid-area: contact-form-message;
}

.contact-form-submit {
  grid-area: contact-form-submit;
}

.contact-form-group {
  /* placeholder */
}

.contact-form-label {
  /* placeholder */
}

.contact-form-name-input,
.contact-form-email-input {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border-bottom: 2px solid hsla(0, 0%, 0%, 0.5);
  background-color: hsla(0, 0%, 0%, 0.15);
  font-family: inherit;
  font-size: inherit;
}

.contact-form-textarea {
  width: 100%;
  resize: none;
  padding: 0.5rem;
  border: 0;
  border-bottom: 2px solid hsla(0, 0%, 0%, 0.5);
  background-color: hsla(0, 0%, 0%, 0.15);
  font-family: inherit;
  font-size: inherit;
}

.contact-form-submit {
  padding: 0.5rem;
  border: 0;
  border-bottom: 2px solid hsla(0, 0%, 0%, 0.5);
  background-color: hsla(0, 0%, 0%, 0.15);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.contact-form-submit:hover {
  background-color: hsla(0, 0%, 0%, 0.3);
}

@media screen and (max-width: 600px) {
  .contact-section {
    padding: 2rem 2rem 3rem 2rem;
  }

  .contact-subcontainer {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
