@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

:root {
  font-family: "Sen", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: hsla(0, 0%, 100%, 0.1); */
  /* background-color: hsl(202, 82%, 63%); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* colours */
  /* #29d2c9 */
  /* #294ed2 */
  /* #220080 */

  /* from profile photo: */
  /* #5001fe */
  /* #2ae7e4 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

body.light {
  color: hsla(0, 0%, 10%);
  background-color: hsl(200, 10%, 88%);
}

body.dark {
  color: hsla(0, 0%, 90%);
  background-color: hsl(200, 10%, 10%);
}

#app {
  min-height: 100vh;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: hsla(0, 0%, 100%, 0.9);
    background-color: hsl(0, 0%, 10%);
  }
} */
